<div class="chronicle-page">
  <div class="chronicle-bg"></div>
  <div class="chronicle-wrap" id="chunqiu-chronicle" aria-label="Chronicle"></div>
</div>

<%- partial('_partial/events-data') %>

<script defer src="<%= url_for('/js/chunqiu-chronicle.js') %>"></script>
